#user-post {
    border-style: solid;
    border-width: 3px;
}

.post-box {
    border-style: solid;
}

#posts {
    border-style: solid;
    border-width: 1px;
}

#submit-button {
    width: 25%;
    text-align: center;
    margin: auto;
    display: block;
}
